#BigSight-LandingPage-Section8 {
    min-height: 456px;
    padding-left: 157px;
    background-color: #f7f7f7;
}

.BigSight-LandingPage-Section8-Parent-Content-Container {
    padding-bottom: 50px;
}

.BigSight-LandingPage-Section8-BigSight-Logo {
    width: 291px;
    height: 170px;
    margin-top: 55px;
    margin-left: -20px;
}

.BigSight-LandingPage-Section8-BigSight-ColLeft-Row1 {
    width: 329px;
    margin-top: 23px;
    font-family: poppins-700;
    font-size: 18px;
    line-height: 27px;
    color: #484848;
}

.BigSight-LandingPage-Section8-BigSight-ColLeft-Row2 {
    font-family: poppins-400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 30px;
}

.BigSight-LandingPage-Section8-BigSight-ColLeft-Row3 {
    margin-top: -9px;
    font-family: poppins-400;
    font-size: 16px;
}

.BigSight-LandingPage-Section8-BigSight-ColLeft-Row4 {
    font-family: poppins-400;
    font-size: 16px;
}

.BigSight-LandingPage-Section8-BigSight-ColMid-Row1 {
    width: 329px;
    margin-top: 23px;
    font-family: poppins-700;
    font-size: 16px;
    line-height: 27px;
    color: #484848;
}

.BigSight-LandingPage-Section8-BigSight-ColMid-Row1 i {
    font-size: 27px;
    margin-top: 12px;
    margin-right: 9.9px;
}

.BigSight-LandingPage-Section8-BigSight-ColMid-Row2 {
    width: 329px;
    margin-top: 23px;
    font-family: poppins-400;
    font-size: 16px;
    line-height: 27px;
}

.BigSight-LandingPage-Section8-BigSight-ColMid-Row3 {
    width: 329px;
    height: 38px;
    margin-top: 46px;
    font-family: poppins-400;
    font-size: 16px;
    line-height: 20px;
}

.BigSight-LandingPage-Section8-BigSight-RightMid {
    width: 318px;
    height: 230px;
}

.BigSight-LandingPage-Section8-Content-Container {
    display: flex;
}

.BigSight-LandingPage-Section8-Content-Left {
    display: flex;
}

.BigSight-LandingPage-Section8-Content-Mid {
    display: flex;
}

@media screen and (max-width: 1440px) {
    #BigSight-LandingPage-Section8 {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1150px) {
    #BigSight-LandingPage-Section8 {
        padding-left: 0px;
    }
    .BigSight-LandingPage-Section8-Parent-Content-Container {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1100px) {
}
